In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('../../2_Feature_Engineering/export/randomized_balanced_dataset.csv')
df.head()

                                            raw_text  severity  binary_label
0  Ich warte schon darauf, dass man die Terrorist...       0.0         False
1  Holt Björn Höcke ins Boot vielleicht haben wir...       0.0         False
2  Deutscher, turkmenischer Abstammung bitte. Was...       0.0         False
3  Wer glaubt die gehen wieder , ist einfach nur ...       0.0         False
4  Man wünscht sich eine schlagkräftige Bürgerweh...       0.0         False

In [31]:
import sys
sys.path.insert(0, r'..\..\0_common')
from model_helpers import clean_all as ci

In [32]:
df['cleaned_text'] = df['raw_text'].apply(ci)
df.head()

,raw_text,severity,binary_label,cleaned_text
0,"Ich warte schon darauf, dass man die Terrorist...",0.0,False,warte schon darauf das terroristen opfern mach...
1,Holt Björn Höcke ins Boot vielleicht haben wir...,0.0,False,holt björn höcke boot vielleicht letzte chance...
2,"Deutscher, turkmenischer Abstammung bitte. Was...",0.0,False,deutscher turkmenischer abstammung bitte graue...
3,"Wer glaubt die gehen wieder , ist einfach nur ...",0.0,False,wer glaubt gehen einfach blauäugig
4,Man wünscht sich eine schlagkräftige Bürgerweh...,0.0,False,wünscht schlagkräftige bürgerwehr sophienhof p...

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer(ngram_range=(2,5), analyzer='char_wb', stop_words='german', max_features=100000)
X_features = vec.fit_transform(df['cleaned_text'])
X_features.shape

(1828, 45712)

In [34]:
# split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_features, df['binary_label'], test_size=0.2, shuffle=True)

In [35]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [36]:
# score
from sklearn.metrics import precision_recall_fscore_support as score
y_pred = clf.predict(X_test)
precision, recall, fscore, support = score(y_test, y_pred, pos_label=True, average='binary')

In [37]:
# confusion matrix
from sklearn.metrics import confusion_matrix
matrix = confusion_matrix(y_test, y_pred)
m_df = pd.DataFrame(
    matrix, 
    columns=["Negatives", "Positives"],
    index=["Negatives", "Positives"])

In [38]:
print(fscore)
print(precision)
print(recall)

0.7294117647058823
0.7045454545454546
0.7560975609756098

In [39]:
m_df

           Negatives  Positives
Negatives        150         52
Positives         40        124